/Copia de NetbeansProyects/Practica3.2.2/nbproject/private/
/Copia de NetbeansProyects/Practica3.2/build/
/Copia de NetbeansProyects/Practica3.2.2/build/
/Copia de NetbeansProyects/Acceso/nbproject/private/
/Copia de NetbeansProyects/Practicas Revisited [[]Pre Examen]/nbproject/private/
/Copia de NetbeansProyects/Prueba Ficheros/nbproject/private/
/Copia de NetbeansProyects/Prueba Output/nbproject/private/
/Copia de NetbeansProyects/TiktakR/nbproject/private/
/Copia de NetbeansProyects/CancionPirataR/nbproject/private/
/Copia de NetbeansProyects/Layout/nbproject/private/
/Copia de NetbeansProyects/Layouts/nbproject/private/
/Copia de NetbeansProyects/Layouts/build/
/Copia de NetbeansProyects/PracticaHibernate1/nbproject/private/
/Copia de NetbeansProyects/PracticaHibernate/nbproject/private/
/Copia de NetbeansProyects/Hibernate01/nbproject/private/
/Copia de NetbeansProyects/Practica 3.3.1/nbproject/private/
/Copia de NetbeansProyects/Practica 3.3.1/build/
/Copia de NetbeansProyects/TiendaLibros/nbproject/private/
/Copia de NetbeansProyects/TiendaLibros/build/
/Copia de NetbeansProyects/DigitalClock/nbproject/private/
/Copia de NetbeansProyects/DigitalClock/dist/
/Copia de NetbeansProyects/DigitalClock/build/
/Copia de NetbeansProyects/Hibernate02/nbproject/private/
/Copia de NetbeansProyects/Hibernate/build/
/Copia de NetbeansProyects/Hibernate/nbproject/private/
/Copia de NetbeansProyects/Hibernatev2/nbproject/private/
/Copia de NetbeansProyects/Hibernatev3/nbproject/private/
/Copia de NetbeansProyects/Hibernatev4/nbproject/private/
/Copia de NetbeansProyects/Hibernatev4/build/
/Copia de NetbeansProyects/Hibernatev4/dist/
/Copia de NetbeansProyects/practica udp/nbproject/private/
/Copia de NetbeansProyects/practica udp/build/
/Copia de NetbeansProyects/2. OLExample/OLExample/build/
/Copia de NetbeansProyects/2. OLExample/OLExample/dist/
/Copia de NetbeansProyects/2. OLExample/OLExample/nbproject/private/
/Copia de NetbeansProyects/4. JavaFXPropierties/JavaFXPropierties/build/
/Copia de NetbeansProyects/4. JavaFXPropierties/JavaFXPropierties/nbproject/private/
/Copia de NetbeansProyects/6. ControlesFX/ControlesFX/build/
/Copia de NetbeansProyects/6. ControlesFX/ControlesFX/nbproject/private/
/Copia de NetbeansProyects/6. Ejemplo completo LayOuts/LayOuts/build/
/Copia de NetbeansProyects/6. Ejemplo completo LayOuts/LayOuts/dist/
/Copia de NetbeansProyects/6. Ejemplo completo LayOuts/LayOuts/nbproject/private/
/Copia de NetbeansProyects/6. Eventos/Eventos/build/
/Copia de NetbeansProyects/6. Eventos/Eventos/dist/
/Copia de NetbeansProyects/6. Eventos/Eventos/nbproject/private/
/Copia de NetbeansProyects/JFXImages/JFXImages/build/
/Copia de NetbeansProyects/JFXImages/JFXImages/dist/
/Copia de NetbeansProyects/JFXImages/JFXImages/nbproject/private/
/Copia de NetbeansProyects/Hibernatev5/nbproject/private/
/Copia de NetbeansProyects/hibernatev6/nbproject/private/
/Copia de NetbeansProyects/Hibernatev7/nbproject/private/
/Copia de NetbeansProyects/Hibernatev7/build/
/Copia de NetbeansProyects/Hibernatev7/dist/
/Copia de NetbeansProyects/Hibernatev4_1/nbproject/private/
/Copia de NetbeansProyects/Hibernatev4_1/build/
/Copia de NetbeansProyects/Hibernatev4_1/dist/
/Copia de NetbeansProyects/JavaApplication47/nbproject/private/
/Copia de NetbeansProyects/hibernate8/nbproject/private/
/Copia de NetbeansProyects/hibernate8/build/